---
import fetchApi from '../lib/strapi';
import type Article from '../interfaces/blog';

const articles = await fetchApi<Article[]>({
  endpoint: 'blogs', // the content type to fetch
  wrappedByKey: 'data', // the key to unwrap the response
});
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>

		<ul>
			{
			  articles.map((article) => (
				<li>
				  <a href={`/blog/${article.text}/`}>
					{article.title}
				  </a>
				</li>
			  ))
			}
		  </ul>
	</body>
</html>
